## Removendo node_modules

/node_modules


## Removendo as Variaveis de ambiente

*.env


## Removendo Scripts de Automatização com exeção do de deploy



*.sh

## Mantendo o deploy.sh pra facilitar eu subir na escola
!deploy.sh 


## Excluindo Assets com uploads feitos por usuarios

src/assets/Public

