<footer class="container-fluid">
  <div class="container flexFooter">
    <div class="img">
      <img
        class="rounded border border-white"
        src="/Images/RedditoLogo1.png"
        width="100"
        alt="Reddito Logo"
      />
    </div>
    <div class="textofooter">
      <p class="pmaiordofooter">
        Copyright &#169; 2022 Anne Ribeiro, Carolina Almeida, Heloísa Real,
        Julie Sanday, Maria Gonçalves, Mateus Vieira
      </p>
      <p class="pmenordofooter">
        Reddito, distribuido de forma Open Source e gratuita pela licença
        MIT,
        <span class="fw-bold">
          Site ficticio com finalidade acadêmica.
        </span>
      </p>
    </div>
    <div id="social">
      <a href="./pag-continuidade.html" target="_blank">
        <img
          src="/Images/instagram.png"
          alt="Instagram"
          class="instagram"
        />
      </a>
      <a href="./pag-continuidade.html">
        <img src="/Images/facebook.png" alt="Facebook" class="facebook" />
      </a>
      <a href="./pag-continuidade.html">
        <img src="/Images/youtube.png" alt="YouTube" class="youtube" />
      </a>
    </div>
  </div>
</footer>