<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include ("./components/head.ejs") %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO - 404</title>
</head>
<body class="gray">
  <%- include ("./components/nav.ejs") %>

  
  <section class="m-4 p-1">
    <div class="escrita">
      <h1 class="titulo fw-bold">ERRO</h1>
      <h2 class="subtitulo">Page not found :(</h2>
      <p class="d-flex justify-content-center">
        Dentre nossas várias receitas não conseguimos uma para achar a
        página "<span class="fw-bold variant-color"><%=url%></span>"
      </p>
      <div class="d-flex justify-content-center">
        <a class="btn link1" href="/" role="button">
          Voltar para a Página Inicial
        </a>
      </div>
    </div>
    <div class="imagemm d-flex justify-content-center m-5">
      <img class="w-25" src="/Images/error404.svg" alt="Imagem vetoriazada de erro" />
    </div>
  </section>

  <%- include ("./components/footer.ejs") %> 
</body>
</html>