<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./components/head.ejs") %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddito Sitemap</title>
    <meta name="description" content="Reddito Sitemap">
</head>
<body>
    <%-include ("components/nav.ejs")%>

    <h1>Sitemap</h1>

    <p>Homepage | <a href="/">/</a></p>

    <%-include ("components/footer.ejs")%>
</body>
</html>