<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddito Sitemap</title>
    <meta name="description" content="Reddito Sitemap">
      <!-- CSS Customizado + bootsrap -->
  <link rel="stylesheet" href="/CSS/style.css">
  
  <!-- JS Part of Bootstrap-->
  <script src="JS/bootstrap/bootstrap.js"></script>

  <!-- Favicon -->
  <link rel="icon" href="/Images/reddito.png">
</head>
<body>
    <%-include ("components/nav.ejs")%>

    <h1>Sitemap</h1>

    <p>Homepage | <a href="/">/</a></p>

    <%-include ("components/footer.ejs")%>
</body>
</html>