<!-- @format -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <%-include ("./components/head.ejs") %>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso</title>
    <meta
      name="description"
      content="Reddito Termos de Uso">

  </head>

  <body class="primary-green">
    <!-- Menu -->
    <%- include ("./components/nav.ejs")%>

    <!-- Formulário -->
    <!-- Entrada para o Backend com as informações já preenchidas e envidas para essa página de visualização -->
    <section
      class="container-fluid d-flex flex-column justify-content-top align-items-center">
      <div class="card mb-5 mt-5">
        <div class="card-body">
          <h5
            class="card-title"
            style="margin-top: 20px">
            Termos de Uso
          </h5>
          <!--Nome do usuário que enviou a receita que está em top trends-->
          <div>
            <p class="descricao-receita">
              Leia com atenção todas as condições antes de prosseguir com seu
              cadastro.
            </p>
            <p class="termosdeuso">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              vitae lorem nulla. Integer dui magna, commodo non mi eget,
              consequat posuere est. Fusce quis lobortis tellus. Proin efficitur
              tristique auctor. Sed suscipit molestie sodales. Sed cursus ipsum
              ligula, ac pretium est ullamcorper vitae. Fusce porttitor, tellus
              at ultricies bibendum, mauris felis convallis felis, vitae
              ullamcorper eros turpis sollicitudin nisl. Sed enim nisl, luctus
              iaculis erat eu, vulputate lacinia orci. Nullam id felis leo. In
              ut justo eu justo varius volutpat ac non massa. Quisque in
              elementum turpis. Nunc justo orci, vulputate et ligula in,
              scelerisque dignissim quam. Integer iaculis sit amet ipsum vitae
              iaculis. Integer sollicitudin mollis massa id elementum. Donec
              tempus scelerisque augue, nec consectetur ante ornare fermentum.
              Quisque id odio purus. Proin malesuada sodales efficitur. Duis sed
              molestie odio. Vivamus in elit risus. Nunc pharetra urna a ante
              luctus, venenatis mollis lacus mollis. Phasellus mauris mi,
              efficitur quis eleifend ut, lacinia id enim. Curabitur feugiat
              vitae ante at ultrices. Nunc non nisi non risus vehicula vulputate
              nec et orci. Maecenas dictum fringilla velit eu accumsan. Sed id
              sagittis odio. Mauris mollis molestie porttitor. Sed nisi ex,
              sodales condimentum ligula ac, tempus aliquet purus. Quisque
              porttitor, orci in ultrices dignissim, nibh enim iaculis sapien,
              non molestie lectus odio et enim. In accumsan enim eu mauris
              pellentesque, sit amet dignissim risus pretium. Proin varius,
              ipsum non efficitur hendrerit, nisl enim luctus velit, tristique
              convallis enim nibh in metus. Aenean lacinia erat ut quam viverra
              finibus sed in ex. Nulla molestie ullamcorper interdum.
              Suspendisse fermentum tristique lobortis. Aliquam erat volutpat.
              Cras tempus tincidunt nisi in sodales. Curabitur molestie augue in
              rhoncus tempus. Integer sit amet malesuada massa. Phasellus nisi
              nibh, efficitur ac suscipit et, dictum quis magna. Vivamus
              condimentum lectus ex, eleifend vestibulum urna aliquam et.
              Integer efficitur mi at leo tincidunt porttitor non in diam. Donec
              vel nisi nec lacus porttitor dapibus nec in nisi. Aliquam non
              metus ex. Interdum et malesuada fames ac ante ipsum primis in
              faucibus. Fusce eget elit interdum, eleifend turpis maximus,
              placerat ligula. Praesent eget elit scelerisque, rhoncus enim non,
              maximus massa. Sed vel pulvinar ligula. Nunc elementum at ligula
              facilisis egestas. Etiam sed dolor arcu. Vestibulum id sapien
              molestie, viverra sapien et, molestie elit. Suspendisse potenti.
            </p>
            <!-- Pessoas que clicam nesse botão, aceitam os termos de uso -->
          </div>
        </div>
      </div>
    </section>

    <!-- Rodapé -->
    <%- include ("./components/footer.ejs")%>
  </body>
</html>